@import "@/styles/styles.scss";

.wr {
  padding: 98px 0 78px;
  color: $white;
  background-color: rgb(16, 138, 138);
  background-image: url("/assets/form-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  & header {
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    & > h2 {
      @include title;
    }
  }
  & main {
    max-width: 539px;
    & .form {
      padding: 79px 32px 49px;
      background-color: rgba($color: $white, $alpha: 0.2);
      backdrop-filter: blur(6px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      & > button {
        @include dark-button;
        width: 100%;
        & > span {
          letter-spacing: normal;
        }
      }
    }
  }
}
