@import "@/styles/styles.scss";

.wr {
  padding: 98px 0 78px;
  color: $white;
  background-color: rgb(16, 138, 138);
  background-image: url("/assets/form-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include tablet {
    padding-bottom: 250px;
  }
  @include mobile {
    padding: 36px 0 153px;
  }
  & header {
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    @include mobile {
      margin-bottom: 34px;
    }
    & > h2 {
      @include title;
    }
  }
  & main {
    max-width: 539px;
    @include mobile {
      max-width: 100%;
    }
    & .form {
      padding: 52px 32px 44px;
      background-color: rgba($color: $white, $alpha: 0.2);
      backdrop-filter: blur(6px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include mobile {
        padding: 0;
        background-color: transparent;
        backdrop-filter: none;
      }
      & > button {
        @include dark-button;
        width: 100%;
      }
      transition: box-shadow 0.3s;
      &:hover {
        box-shadow: 0 1px 5px rgba($cyan, 1),
          -13px 0 20px -13px rgba($cyan, 0.8),
          13px 0 20px -13px rgba($cyan, 0.8),
          0 0 20px rgba($cyan, 0.1) inset;
      }
    }
  }
}
