@import "@/styles/styles.scss";

.wr {
  padding: 132px 0 192px;
  background-color: $white;
  color: $black;
  & header {
    margin-bottom: 53px;
    display: flex;
    align-items: center;
    & > h2 {
      @include title;
    }
  }
  & main {
    & .slider {
      padding-bottom: 43px;
      position: relative;
      & .slide {
        max-width: fit-content;
        gap: 21px;
        grid-auto-flow: column;
        display: grid;
        grid-template-rows: repeat(2, 310px);
        grid-template-columns: 514px max-content max-content;
        & figure {
          position: relative;
          &:first-child {
            grid-row-start: 1;
            grid-row-end: 3;
          }
          &:hover {
            &::after,
            & > figcaption {
              opacity: 1;
            }
          }
          &::after {
            transition: opacity 0.3s;
            opacity: 0;
            pointer-events: none;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba($color: $black, $alpha: 0.4);
          }
          & > img {
            user-select: none;
            min-width: 512px;
            height: 100%;
          }
          & > figcaption {
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s;
            position: absolute;
            bottom: 24px;
            right: 23px;
            color: $white;
            & > div {
              margin-bottom: 13px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              gap: 16px;
              font-size: 14px;
              line-height: 17px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: $cyan-article;
            }
            & > h3 {
              @include inter7;
              font-size: 18px;
              line-height: 22px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: $white;
            }
          }
        }
      }
      &_buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20%;
        & > button {
          z-index: 10;
          padding: 15px 19px 0;
          &:last-child {
            transform: scale(-1, 1);
          }
          & path {
            stroke: $black;
          }
          &:hover {
            & path {
              stroke-opacity: 1;
            }
          }
        }
      }
    }
  }
}
