@import "@/styles/styles.scss";

.wr {
  padding: 132px 0 142px;
  background-color: $white;
  color: $black;
  @include laptop {
    padding: 90px 0;
  }
  @include mobile {
    padding: 88px 0 93px;
  }
  & header {
    margin-bottom: 53px;
    display: flex;
    align-items: center;
    @include mobile {
      margin-bottom: 35px;
    }
    & > h2 {
      @include title;
    }
  }
  & main {
    margin-bottom: 48px;
    & .slider {
      padding-bottom: 43px;
      position: relative;
      & .slide {
        max-width: fit-content;
        gap: 21px;
        grid-auto-flow: column;
        display: grid;
        grid-template-rows: repeat(2, 310px);
        grid-template-columns: 514px max-content max-content;
        & > figure {
          & > div {
            height: 100%;
          }
        }

        @include swiper-laptop {
          display: block;
          max-width: 306px;
          & img {
            height: 364px;
          }
        }
        &_flex {
          display: flex;
          flex-direction: column;
          gap: 12px;
          & img {
            height: 176px;
          }
        }
      }
    }
  }
  & footer {
    text-align: center;
    & button {
      @include light-button;
    }
  }
}
