@import "@/styles/styles.scss";
.wr {
  padding: 84px 0 250px;
  @include laptop {
    padding: 50px 0 100px;
  }
  @include tablet {
    padding: 50px 0 250px;
  }
  @include mobile {
    padding-bottom: 150px;
  }
  & header {
    margin-bottom: 84px;
    @include mobile {
      margin-bottom: 30px;
    }
  }
  & main {
    margin-bottom: 72px;
    position: relative;
    @include mobile {
      margin-bottom: 30px;
    }
  }
  & footer {
    & > a {
      display: block;
      width: fit-content;
      &:first-child {
        margin-bottom: 24px;
        @include laptop {
          margin-bottom: 15px;
        }
        & button {
          @include dark-button;
          border: 3px solid $cyan;
          color: $white;
          background-color: $cyan;
          &:hover {
            border-color: $black;
            background-color: $black;
          }
        }
      }
      &:nth-child(2) {
        & button {
          @include light-button;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  @include mobile {
    position: static;
    margin-bottom: 30px;
    width: 100%;
  }

  & > div {
    display: flex;
    color: $cyan-article;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    @include inter7;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    @include tablet {
      gap: 3px;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 6px;
    }

    & a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  & h2 > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
}

.skeleton {
  border-radius: 15px !important;
  height: 344px !important;
  &:last-child {
    height: 104px !important;
  }
  &_wrapper {
    & > div {
      display: flex;
      gap: 40px;
      margin-bottom: 44px;
      & > div {
        & > span {
          width: 40%;
          font-size: 18px !important;
          &:last-child {
            width: 70%;
            height: 200px;
          }
        }
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
      }
    }
  }
}
