@import "@/styles/styles.scss";

.wr {
  padding: 165px 0 263px;
  background-color: $black;
  color: $white;
  @include laptop {
    padding: 130px 0;
  }
  @include tablet {
    padding: 95px 0;
  }
  & > div {
    display: flex;
    flex-direction: column;
  }
  & header {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
    @include tablet {
      margin-bottom: 66px;
    }
    & > h2 {
      @include title;
    }
  }
  & main {
    align-self: flex-end;
    text-align: right;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.03em;
    margin-bottom: 40px;
    padding-right: 100px;
    & em {
      background-color: $cyan-article;
      font-style: normal;
    }
    @include laptop {
      font-size: 50px;
      line-height: 60px;
      padding-right: 0;
      max-width: 90%;
    }
    @include tablet {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 58px;
      word-break: break-word;
    }
    @include small {
      font-size: 22px;
      line-height: 30px;
    }
  }
  & footer {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
    max-width: 50%;
    @include tablet {
      font-size: 16px;
      line-height: 24px;
      max-width: 100%;
      word-break: break-word;
    }
    @include small {
      font-size: 13px;
      line-height: 20px;
    }

    & > button {
      color: $cyan-article;
      text-decoration: underline;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
