@import "@/styles/styles.scss";

.wr {
  padding: 110px 0 250px;
  @include tablet {
    padding: 80px 0 350px;
  }
  @include mobile {
    padding: 80px 0 150px;
  }
  & > header {
    margin-bottom: 90px;
    @include tablet {
      margin-bottom: 40px;
    }
  }
  & > main {
    & > ul {
      display: grid;
      gap: 80px 139px;
      grid-template-columns: 1fr 1fr;
      @include laptop {
        gap: 7%;
      }
      @include tablet {
        grid-template-columns: 0.8fr;
      }
      @include mobile {
        grid-template-columns: 1fr;
        gap: 50px;
      }
    }
  }
  & > footer {
    text-align: center;
    margin-top: 10%;
    & > button {
      @include light-button;
    }
  }
}

.card {
  min-height: 244px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 14px;
  @include laptop {
    min-height: 210px;
  }
  @include tablet {
    min-height: auto;
  }
  &:hover {
    & img {
      transform: scale(1.1);
      opacity: 0.8;
    }
    & h3 {
      text-decoration: underline;
    }
  }
  &_text {
    height: min-content;
    & > h3 {
      margin-bottom: 10px;
      color: $cyan-article;
      font-size: 32px;
      @include inter7;
      letter-spacing: 1px;
      text-transform: uppercase;
      @include laptop {
        font-size: 23px;
      }
      @include tablet {
        font-size: 17px;
      }
      @include mobile {
        text-decoration: underline;
      }
    }
    & > span {
      margin-bottom: 12px;
      display: block;
      font-size: 18px;
      @include inter7;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      @include laptop {
        font-size: 14px;
      }
    }
    & > div {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      box-orient: vertical;

      & > p {
        font-size: 18px;
        letter-spacing: 0.5px;
        margin-bottom: 1em;
        @include laptop {
          font-size: 13px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &_image {
    & img {
      transition: transform 0.3s, opacity 0.3s;
    }
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    @include tablet {
      height: 20vw;
    }
    @include mobile {
      height: auto;
    }
  }
}

.skeleton {
  border-radius: 15px;
  width: 100%;
  height: 244px;
  @include tablet {
    height: 150px;
  }
}
