@import "@/styles/styles.scss";

.wr {
  padding: 84px 0;
  @include mobile {
    padding: 40px 0;
  }
}
.main {
  & > header {
    margin-bottom: 32px;
  }
  & > main {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 120px;
    letter-spacing: 0.05em;
    margin-bottom: 93px;
    @include laptop {
      gap: 30px;
      margin-bottom: 40px;
    }
    @include tablet {
      flex-direction: column;
    }

    & h3 {
      font-size: 18px;
      line-height: 22px;
      display: flex;
      gap: 16px;
      margin-bottom: 8px;
    }
    & h2 {
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      word-break: break-word;
      @include laptop {
        font-size: 19px;
        line-height: 23px;
      }
    }
    & img {
      width: 60%;
      @include laptop {
        width: 50%;
      }
      @include tablet {
        width: auto;
        height: 300px;
        align-self: center;
      }
    }
  }
  & > footer {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $black;
    margin-bottom: 140px;
    @include tablet {
      margin-bottom: 90px;
    }

    & > ul {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-bottom: 39px;
      @include laptop {
        gap: 5px;
      }
      & > li,
      & span {
        padding: 9px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #000000;
        @include tablet {
          font-size: 13px;
          line-height: 12px;
        }
        & > span {
          @include mobile {
            width: 100px;
          }
        }

        & > div {
          justify-content: flex-start;
          color: inherit;
          gap: 19px;
          & path {
            fill: #0d0e0e70;
          }

          @include mobile {
            gap: 5px;
            justify-content: space-between;
            width: 219px;
            & > span {
              width: 128px;
            }
          }
        }
      }
    }
    & > .buttons {
      & > a {
        display: block;
        & > button {
          @include mobile {
            width: 100%;
          }
        }
        &:first-child {
          margin-bottom: 24px;
          @include laptop {
            margin-bottom: 15px;
          }
          & button {
            @include dark-button;
            border: 3px solid $cyan;
            color: $white;
            background-color: $cyan;
            &:hover {
              border-color: $black;
              background-color: $black;
            }
          }
        }
        &:nth-child(2) {
          & button {
            @include light-button;
            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  }
}
.annotation {
  margin-bottom: 140px;
  @include laptop {
    margin-bottom: 90px;
  }
  @include mobile {
    margin-bottom: 60px;
  }

  & main {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.03em;
    max-width: 70%;
    @include laptop {
      max-width: 90%;
    }
    @include tablet {
      max-width: 100%;
      font-size: 15px;
      line-height: 25px;
    }

    & > p {
      margin-bottom: 1em;
    }
  }
}

.keywords {
  margin-bottom: 140px;
  @include tablet {
    margin-bottom: 90px;
  }
  @include mobile {
    margin-bottom: 60px;
  }

  & > main {
    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 16px 20px;
      @include tablet {
        gap: 10px;
      }
    }
    & .word {
      padding: 8px 24px;
      background-color: $black;
      color: $white;
      border-radius: 24px;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      @include tablet {
        padding: 8px 15px;
        border-radius: 24px;
        font-size: 13px;
        line-height: 14px;
      }
    }
  }
}

.authors {
  margin-bottom: 140px;
  @include tablet {
    margin-bottom: 90px;
  }
  & > main {
    max-width: 50%;
    @include tablet {
      max-width: 100%;
    }
  }
  & span {
    font-size: 18px;
    line-height: 26px;
    @include mobile {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.rubric {
  & > main {
    & > section {
      padding: 0;
      & > div {
        margin: 0;
        & > header {
          display: none;
        }
        & article {
          @include tablet {
            padding: 10px !important;
            margin-bottom: 20px;
          }
        }
      }
      & hr {
        left: initial !important;
        right: 0;
      }
    }
  }
}

.bc_title {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  @include tablet {
    max-width: 200px;
  }
}

.skeleton {
  border-radius: 30px;
  margin: 0 auto;
  height: 350px;
  width: 100%;
  &_keywords {
    height: 35px;
    width: 192px;
  }
  &_authors {
    height: 70px;
  }
}
