@import "@/styles/styles.scss";

.wr {
  padding: 80px 0 130px;
  & > header {
    margin-bottom: 90px;
  }
  & > main {
    margin-bottom: 80px;
    display: grid;
  }
  & > footer {
    text-align: center;
    & > button {
      @include light-button;
    }
  }
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 28px;
  height: 307px;
  margin-bottom: 56px;
  & > div > div > div:first-child {
    height: 177px;
  }
  &_tall {
    height: 375px;
    gap: 20px;
    & > div > div > div:first-child {
      height: 246px;
    }
  }
}
