@import "@/styles/styles.scss";

.wr {
  padding: 80px 0 113px;
  & > header {
    margin-bottom: 40px;
  }
  & > main {
    margin-bottom: 49px;
  }
  & > footer {
    text-align: center;
    & > button {
      @include light-button;
    }
  }
}

.skeleton {
  &_wrapper{
    display: flex;
    justify-content: space-between;
  }
  border-radius: 15px;
  width: 50%;
  height: 386px;
  &:last-child{
    height: 253px;
    width: 30%;
  }
}
