@import "./variables/breakpoints.scss";
@import "./variables/colors.scss";
@import "./variables/fonts.scss";
@import "./variables/mixins.scss";
@import "./libs/sliders.scss";
@import "./libs/form.scss";
@import "./libs/burger.scss";
@import "./libs/dialog.scss";
