@import "@/styles/styles.scss";

.wr {
  padding: 120px 0 142px;
  background-color: $black;
  color: $white;
  text-align: center;
  @include laptop {
    padding: 100px 0;
  }
  @include tablet {
    padding: 52px 0 66px;
    display: flex;
    flex-direction: column;
  }
  & > header {
    margin: 0 auto;
    text-align: center;
    max-width: 1231px;
    @include laptop {
      max-width: 90%;
    }
    @include tablet {
      max-width: 100%;
    }

    & > h1 {
      font-size: 66px;
      line-height: 83px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 32px;
      @include laptop {
        font-size: 50px;
        line-height: 63px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 32px;
      }
      @include tablet {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.07em;
        margin-bottom: 24px;
      }
      @include small {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  & > a {
    display: block;
    width: fit-content;
    margin: 0 auto 123px;
    @include laptop {
      margin-bottom: 70px;
    }
    @include tablet {
      margin-bottom: 24px;
      order: 1;
      align-self: center;
    }
    & > button {
      @include dark-button;
      @include tablet {
        padding: 16px 40px;
      }
    }
  }
}

.skeleton {
  border-radius: 30px;
  margin: 181px auto 0;
  width: 80%;
  height: 360px;
  @include laptop {
    width: 90%;
    height: 284px;
    margin-top: 129px;
  }
  @include tablet {
    margin: 0 auto 77px;
    height: 434px;
  }
  @include mobile {
    height: 264px;
  }
}
