@import "@/styles/styles.scss";

.wr {
  padding: 145px 0 175px;
  background-color: $white;
  color: $black;
  @include laptop {
    padding: 80px 0;
  }
  @include tablet {
    padding: 88px 0 16px;
  }
  &_header {
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    @include laptop {
      margin-bottom: 50px;
    }
    @include tablet {
      margin-bottom: 40px;
    }
    & > h2 {
      @include title;
    }
  }
  & main {
    & .content {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      @include tablet {
        display: flex;
        flex-direction: column;
      }
    }
    & article {
      & > img {
        width: 100%;
        min-height: 386px;
        max-height: 500px;
        @include laptop {
          min-height: 246px;
          max-height: 300px;
        }
      }
      position: relative;
      @include inter7;
      padding: 44px 0;
      @include laptop {
        padding: 24px 0;
      }
      &:nth-of-type(2),
      &:first-of-type {
        padding: 0 0 24px;
        @include tablet {
          padding: 0;
        }
      }
      &:nth-of-type(2) {
        @include tablet {
          padding: 16px 0 32px;
        }
      }
      @include tablet {
        padding: 32px 0;
        border-bottom: 1px solid rgba($black, 0.2);
      }
      &:last-of-type {
        border-bottom: none;
      }
      & > header {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $cyan-article;
        @include tablet {
          margin-bottom: 8px;
        }
      }
      & > main {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        @include laptop {
          font-size: 15px;
          line-height: 19px;
        }
        @include tablet {
          margin-bottom: 16px;
        }
      }
      & > footer {
        & > span {
          @include inter4;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.03em;
          transition: color 0.3s;
          &:hover {
            color: $cyan-article;
          }
          @include tablet {
            line-height: 22px;
          }
        }
      }
      & > hr {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 200%;
        background-color: $black;
        opacity: 0.2;
        @include tablet {
          display: none;
        }
      }
      &:hover {
        & > main {
          text-decoration: underline;
        }
      }
    }
  }
}
