@import "@/styles/styles.scss";

.header {
  user-select: none;
  background-color: $black;
  color: $white;
  text-transform: uppercase;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(9px);
  transition: background-color 0.3s;
  &_fix {
    background-color: rgba(13, 14, 14, 0.4);
  }

  &_wrapper {
    padding: 26px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include laptop {
      padding: 15px 0;
    }
    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
    @include mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    & .logo {
      @include hover-button;
      & img {
        object-fit: contain;
        @include laptop {
          width: 203px;
        }
      }
    }
    & > div {
      display: flex;
      gap: 62px;
      justify-content: space-between;
      padding-bottom: 5px;
      @include laptop {
        gap: 40px;
      }
      @include tablet {
        width: 100%;
        flex-direction: column;
        gap: 10px;
      }
      @include mobile {
        width: auto;
      }
    }

    & .nav {
      display: flex;
      align-items: flex-end;
      gap: 37px;
      @include laptop {
        gap: 25px;
      }
      @include tablet {
        justify-content: space-evenly;
      }
      & > a {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $white;
        opacity: 0.7;
        text-align: center;
        @include hover-link;
        @include laptop {
          font-size: 12px;
          line-height: 20px;
        }
        @include tablet {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    & .func {
      display: flex;
      align-items: flex-end;
      @include tablet {
        align-self: flex-end;
        flex-direction: row;
        justify-content: flex-end;
      }
      & .buttons {
        margin-right: 50px;
        display: flex;
        align-items: center;
        gap: 43px;
        @include laptop {
          margin-right: 30px;
          gap: 30px;
        }
      }
      & > a {
        display: flex;
        transform: translateY(6px);
        width: 69px;
        height: 62px;
        @include tablet {
          width: auto;
          height: 40px;
        }
      }
    }
  }
}

.burger {
  width: 20px;
  height: 12px;
  position: relative;
  z-index: 2;
  & span {
    position: absolute;
    background-color: $white;
    border-radius: 100px;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    &:nth-of-type(2) {
      top: calc(50% - 5px);
    }
    &:nth-of-type(3) {
      top: calc(50% + 5px);
    }
  }
  &_text {
    & span {
      text-transform: uppercase;
      color: $white;
      font-size: 20px;
      line-height: 24px;
    }
  }
  &_active {
    & span {
      &:nth-of-type(1) {
        display: none;
      }
      &:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
      }
      &:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.rgs {
  & > a {
    height: 98px;
    display: block;
    & > img {
      object-fit: contain;
    }
  }
}

.lang {
  @include hover-button;
  text-transform: uppercase;
  @include inter7;
  font-size: 16px;
  line-height: 24px;
  @include mobile {
    font-size: 16px;
    line-height: 24px;
    color: $white;

    &:disabled {
      color: $cyan;
      opacity: 1;
    }
  }
  &_buttons {
    order: -3;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 24px;
    margin-bottom: 10px;
    color: $white;
    // display: none;
  }
}
.search {
  @include hover-button;
  height: 22px;
}

.mobile_search {
  order: -1;
  width: 90vw;
  margin-bottom: 10px;
  & > section {
    & > div:nth-child(2) {
      padding: 20px 10px !important;
      max-height: 100%;
      overflow: auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(255, 255, 255, 0.08) !important;
      backdrop-filter: blur(11.5px);
      z-index: 1;
    }
  }
  & input {
    padding: 14px 32px !important;
    background-color: transparent !important;
    border: 1px solid #fff;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.36px;
  }
  & button {
    border-radius: 30px !important;
    width: 45px !important;
    height: 45px !important;
    top: 4px !important;
    right: 4px !important;
    & > span {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url("/assets/search.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 24px;
      height: 24px;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
}
