@import "@/styles/styles.scss";

.header {
  padding: 26px 0;
  user-select: none;
  background-color: $black;
  color: $white;
  text-transform: uppercase;
  z-index: 99999;

  &_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
    @include mobile {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    & .logo {
      @include hover-button;
      & img {
        @include laptop {
          width: 203px;
        }
      }
    }
    & > div {
      display: flex;
      gap: 62px;
      padding-bottom: 5px;
      @include laptop {
        gap: 40px;
      }
      @include tablet {
        width: 100%;
        flex-direction: column;
        gap: 10px;
      }
      @include mobile {
        width: auto;
      }
    }

    & .nav {
      display: flex;
      align-items: flex-end;
      gap: 37px;
      @include laptop {
        gap: 25px;
      }
      @include tablet {
        justify-content: space-evenly;
      }
      & > a {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $white;
        opacity: 0.7;
        text-align: center;
        @include hover-link;
        @include laptop {
          font-size: 12px;
          line-height: 20px;
        }
        @include tablet {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    & .func {
      display: flex;
      align-items: flex-end;
      @include tablet {
        align-self: flex-end;
      }
      & .buttons {
        margin-right: 50px;
        display: flex;
        align-items: center;
        gap: 43px;
        @include laptop {
          margin-right: 30px;
          gap: 30px;
        }
        & > .lang {
          @include hover-button;
          text-transform: uppercase;
          @include inter7;
          font-size: 16px;
          line-height: 24px;
        }
        & > .search {
          @include hover-button;
          height: 22px;
        }
      }
      & > a {
        display: flex;
        transform: translateY(6px);
        width: 69px;
        height: 62px;
      }
    }
  }
}

.burger {
  width: 20px;
  height: 12px;
  position: relative;
  z-index: 2;
  & span {
    position: absolute;
    background-color: $white;
    border-radius: 100px;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    &:nth-of-type(2) {
      top: calc(50% - 5px);
    }
    &:nth-of-type(3) {
      top: calc(50% + 5px);
    }
  }
  &_text {
    & span {
      text-transform: uppercase;
      color: $white;
      font-size: 20px;
      line-height: 24px;
    }
  }
  &_active {
    & span {
      &:nth-of-type(1) {
        display: none;
      }
      &:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
      }
      &:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
      }
    }
  }
}