$black: #000000;
$white: #fff;
$blue: #0538BB;
$blue-secondary: #376AED;
$blue-checkbox: #00A1F4;
$blue-light: #E0F1F7;
$cyan: #6FD6E0;
$gray: #F2F1F2;


// @mixin hover-link {
//   transition: color 0.3s;
//   &:hover {
//   }
// }