@mixin inter4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin inter5 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}
@mixin inter6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}
@mixin inter7 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin montserrat4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin montserrat7 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}