@mixin hover-link {
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}
@mixin hover-button {
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

@mixin dark-button {
  padding: 16px 56px;
  border: 3px solid $white;
  border-radius: 32px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  transition: background-color 0.3s, border-color 0.3s;
  @include inter7;
  &:hover {
    background-color: $cyan;
    border-color: $cyan;
  }
}
@mixin light-button {
  padding: 16px 56px;
  border: 3px solid $black;
  border-radius: 32px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  @include inter7;
  &:hover {
    border-color: $cyan;
    background-color: $cyan;
    color: $white;
  }
}

@mixin keyword-button {
  @include inter4;
  border-radius: 24px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  transition: background-color 0.3s;
  background-color: $black;
  &:hover {
    background-color: $cyan;
  }
}

@mixin title {
  @include inter7;
  padding-left: 44px;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-right: 24px;
  & ~ hr {
    flex-grow: 1;
    background-color: $black;
    opacity: 0.2;
  }
}
