@import "@/styles/styles.scss";

.slider {
  cursor: pointer;
  width: 56%;
  margin: 0 0 44px !important;
  height: 344px;
  @include tablet {
    margin-bottom: 20px !important;
    height: auto;
    aspect-ratio: 16/9;
  }
  @include mobile {
    width: 100%;
  }
}

.slider_mini {
  height: 104px;
  overflow: visible !important;
  @include mobile {
    height: 70px;
  }
}

.label {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: rgba($color: $white, $alpha: 0.7);
  @include tablet {
    font-size: 10px;
    line-height: 17px;
  }
}
