@import "@/styles/styles.scss";

#search {
  position: relative;
  overflow: hidden;
  width: 640px;
  color: $white;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  @include tablet {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
  }
  @include mobile {
    font-size: 12px;
    line-height: 16px;
  }

  & > button {
    @include inter6;
    position: absolute;
    background-color: $cyan;
    width: 126px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 32px 32px 0;
    transition: color 0.3s;
    @include tablet {
      width: 100px;
    }
    @include tablet {
      width: 70px;
    }
    &:hover {
      color: $black;
    }
  }
  & input {
    color: $white;
    width: 100%;
    padding: 20px 160px 20px 32px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    transition: opacity 0.3s;
    background-color: rgba($color: $white, $alpha: 0.2);
    border-radius: 32px;
    @include inter6;
    @include tablet {
      padding: 10px 100px 10px 20px;
    }
    &::placeholder {
      color: $white;
      transition: opacity 0.3s;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
    &:hover {
      &::placeholder {
        opacity: 0.5;
      }
    }
  }
}
