@import "@/styles/styles.scss";

#search {
  position: relative;
  overflow: hidden;
  width: 640px;
  color: $white;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  @include tablet {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
  }
  @include mobile {
    font-size: 12px;
    line-height: 16px;
  }

  & > button {
    @include inter6;
    position: absolute;
    background-color: $cyan;
    width: 126px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 32px 32px 0;
    transition: color 0.3s, background-color 0.3s;
    @include tablet {
      width: 100px;
    }
    @include tablet {
      width: 70px;
    }
    &:hover {
      color: $black;
    }
    &:active,
    &:focus {
      background-color: rgba($color: $cyan, $alpha: 0.5);
    }
  }
  & input {
    color: $white;
    width: 100%;
    padding: 20px 160px 20px 32px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    transition: opacity 0.3s;
    background-color: rgba($color: $white, $alpha: 0.2);
    border-radius: 32px;
    @include inter6;
    @include tablet {
      padding: 10px 100px 10px 20px;
    }
    &::placeholder {
      color: $white;
      transition: opacity 0.3s;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
    &:hover {
      &::placeholder {
        opacity: 0.5;
      }
    }
  }
}

#result {
  width: 90%;
  margin: 0 auto;
  padding: 24px 13px;
  color: $white;
  border-radius: 0px 0px 8px 8px;
  background-color: rgba(255, 255, 255, 0.1);
  @include tablet {
    padding: 5px;
  }

  & h3 {
    color: $white;
    font-size: 16px;
    @include inter6;
    letter-spacing: 0.32px;
    margin-bottom: 6px;
    @include tablet {
      margin-bottom: 3px;
      font-size: 12px;
    }
    @include tablet {
      margin-bottom: 5px;
      font-size: 16px;
    }
  }
  & article {
    margin-bottom: 14px;
    animation: slide 0.4s ease forwards;

    & ul {
      display: block;
      & > a {
        width: 100%;
      }
      & li {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: keep-all;
        max-width: 580px;
        display: -moz-box;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        padding: 2px 15px 2px 2px;
        border-radius: 5px;
        position: relative;
        color: rgba(255, 255, 255, 0.8);
        & > div {
          color: inherit;
          font-size: inherit;
          line-height: inherit;
        }
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.4px;
        transition: background-color 0.3s;
        @include tablet {
          font-size: 15px;
          line-height: 18px;
        }

        &::first-letter {
          text-transform: uppercase;
        }
        &::after {
          content: "";
          position: absolute;
          background-image: url("/assets/search.svg");
          background-repeat: no-repeat;
          background-size: contain;
          width: 24px;
          height: 24px;
          top: 0;
          right: 0;
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0px);
  }
}
