@import "@/styles/styles.scss";

.wr {
  padding-bottom: 250px;
  @include tablet {
    padding-bottom: 100px;
  }
  & > div {
    display: flex;
    flex-direction: column;
  }

  & header {
    margin: 23px 0 58px;
    max-width: 65%;
    @include laptop {
      max-width: 100%;
    }
    & nav {
      margin-bottom: 24px;
    }
    & h2 {
      margin-bottom: 16px;
    }
  }
  & main {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.03em;
    @include tablet {
      display: flex;
      flex-direction: column-reverse;
    }
    @include mobile {
      font-size: 14px;
      line-height: 18px;
    }
    & > div {
      & > p {
        max-width: 65%;
        margin-bottom: 1.5em;
        &:has(img) {
          max-width: 100%;
          @include laptop {
            padding-right: 0px;
          }
        }
        @include laptop {
          max-width: 100%;
          padding-right: 400px;
        }
        @include tablet {
          padding: 0;
        }
        & img {
          padding: 20px 0;
          max-height: 600px;
          min-height: 300px;
          max-width: 100%;
          object-fit: contain;
          @include tablet {
            aspect-ratio: 16/9;
            padding: 0;
            min-height: auto;
            width: 100%;
          }
        }
      }
      & > ul {
        max-width: 65%;
        padding: 1em 0 1em 100px;
        @include tablet {
          max-width: 100%;
          padding: 0;
        }
        & > li {
          margin-bottom: 29px;
          position: relative;
          padding-left: 55px;
          &::before {
            content: "";
            position: absolute;
            background-image: url("/assets/list-bullet.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            top: 6px;
            left: 0;
            @include mobile {
              width: 10px;
              height: 10px;
            }
          }
          @include mobile {
            padding-left: 20px;
            margin-bottom: 15px;
          }
        }
      }
      & img {
        padding: 0 100px;
        width: 100%;
      }
    }
  }
}

.bc_title {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  @include tablet {
    max-width: 100px;
  }
}
.main_img {
  width: 100%;
  height: 723px;
  @include tablet {
    aspect-ratio: 16/9;
    height: auto;
  }
}

.members {
  align-self: flex-end;
  padding: 24px 16px;
  z-index: 10;
  width: 380px;
  background-color: #f5fcff;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  @include tablet {
    position: static;
    align-self: center;
    width: 80%;
    margin-bottom: 30px;
    padding: 14px;
  }
  @include mobile {
    width: 100%;
  }

  & > h2 {
    background-color: inherit;
    margin-bottom: 32px;
    text-align: right;
    font-size: 32px;
    line-height: 39px;
    @include tablet {
      margin-bottom: 22px;
      text-align: center;
      font-size: 22px;
      line-height: 29px;
    }
    @include mobile {
      font-size: 17px;
      line-height: 20px;
    }
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: flex-end;
    @include tablet {
      gap: 10px;
    }
    & > a {
      width: 100%;
    }
    & li {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: flex-end;
      border-radius: 100px;
      transition: background-color 0.3s;

      & > div {
        width: 89px;
        height: 89px;
        border-radius: 100px;
        overflow: hidden;
        @include tablet {
          width: 69px;
          height: 69px;
        }

        & img {
          transition: transform 0.3s;
        }
      }
      &:hover {
        background-color: $blue-light;
        & img {
          transform: scale(1.1);
        }
      }
    }
    & h2 {
      max-width: 65%;
      @include inter7;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #161616;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      @include mobile {
        max-width: 100%;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

.skeleton {
  display: block;
  border-radius: 15px;
  margin: 0 auto;
  height: 300px;
  width: 100%;
  &_image {
    border-radius: 0px;
    height: 723px;
  }
}
