@import "@/styles/styles.scss";

.wr {
  padding: 80px 0 170px;
  @include laptop {
    padding: 50px 0 100px;
  }
  & > header {
    margin-bottom: 62px;
    @include laptop {
      margin-bottom: 30px;
    }
  }
  & > main {
    margin-bottom: 140px;
    @include laptop {
      margin-bottom: 90px;
    }
    & > .about {
      & > header {
        display: flex;
        align-items: center;
        margin-bottom: 42px;
        & > h2 {
          @include title;
        }
      }
      & > main {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.03em;
        max-width: 65%;
        @include laptop {
          max-width: 80%;
          font-size: 15px;
          line-height: 25px;
        }
        & > p {
          margin-bottom: 1em;
        }
      }
    }
  }
}

.skeleton_about {
  border-radius: 15px;
  width: 60%;
  height: 315px;
}
