@import "@/styles/styles.scss";

.wr {
  padding: 110px 0;
  @include tablet {
    padding: 50px 0;
  }
  & > header {
    margin-bottom: 90px;
    @include laptop {
      margin-bottom: 40px;
    }
  }
  & > main {
    padding-right: 200px;
    @include laptop {
      padding-right: 0;
    }
    & .year {
      margin-bottom: 150px;
      @include laptop {
        margin-bottom: 80px;
      }
      & > div {
        display: flex;
        align-items: center;
        margin-bottom: 39px;
        & > h2 {
          @include title;
          & ~ hr {
            flex-grow: 0.5;
          }
        }
      }
      & > ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include laptop {
          justify-content: space-evenly;
        }
        & li {
          width: 380px;
          &:nth-child(2n) {
            margin-top: 134px;
            @include tablet {
              margin-top: 70px;
            }
          }
          & > a > div:first-child {
            @include tablet {
              height: 450px;
            }
          }
          & img {
            object-fit: contain;
          }
        }
      }
    }
  }
}

.skeleton {
  display: block;
  border-radius: 30px;
  height: 600px;
  width: 100%;
  &_h {
    height: 58px;
    width: 600px;
  }
}
