@import "@/styles/styles.scss";

.wr {
  padding: 72px 0;
  background-color: $black;
  color: $white;
  // overflow-x: hidden;
  @include mobile {
    padding: 92px 0;
  }
  & header {
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    @include mobile {
      margin-bottom: 48px;
    }
    & > h2 {
      @include title;
    }
  }
  & main {
    margin-bottom: 89px;
    & div {
      color: $white;
    }
    @include laptop {
      margin-bottom: 50px;
    }

    & .slider {
      height: 378px;
      &_wr {
        position: relative;
        width: 1180px;
        margin: 0 auto;
        @include laptop {
          width: 100%;
          padding: 0 20px 70px;
        }
      }

      &_buttons {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% + 150px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include laptop {
          bottom: 0;
          top: initial;
          width: 10%;
        }
        @include tablet {
          width: 30%;
        }
        & > button {
          padding: 15px 19px;
          &:last-child {
            transform: scale(-1, 1);
          }
        }
      }
    }
    & .mobile_wrapper {
      @include mobile {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
    }
  }
  & footer {
    & button {
      display: block;
      @include dark-button;
      border: 3px solid $white;
      font-size: 14px;
      line-height: 17px;
      padding: 10px 32px;
      margin: 0 auto;
      @include mobile {
        padding: 16px 0;
        width: 80%;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
      }
    }
  }
}

.skeleton {
  border-radius: 20px !important;
  height: 378px !important;
}
